h1.totp
{
    margin: 0;
}

.modal .actionResult
{
    display: none;
}

.totp .table span.label
{
    width: 65px;
    display: block;
}

.totp .table tr#loadMoreLogsTrigger td
{
    background-color: #f0f0f0;
    text-align: center;
}

.totp .table tr#loadMoreLogsTrigger td button
{
    width: 60%;
    margin: 8px 0;
}