<?xml version="1.0" encoding="UTF-8"?>

<!--
/**
* EzTotp: Two-factor authentication with Google Authenticator for eZPublish
*
* @package EzTotp
* @version 0.1 unstable/development
* @author Frank Neff <fneff89@gmail.com>
* @license LGPL v3 - http://www.gnu.org/licenses/lgpl-3.0.en.html
*/
-->

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         syntaxCheck="false"
         bootstrap="./tests/phpUnitBootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="EzTotpClassTests">
            <directory suffix=".php">tests/classes</directory>
        </testsuite>
        <testsuite name="EzTotpFileTests">
            <directory suffix=".php">tests/files</directory>
        </testsuite>
        <testsuite name="EzTotpOperatorsTests">
            <directory suffix=".php">tests/operators</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="doc/PHPUnit/coverage" charset="UTF-8" />
        <log type="testdox-html" target="doc/PHPUnit/testdox.html"/>
    </logging>
</phpunit>